
RewriteEngine on

RewriteBase  /doc/

RewriteRule ^latest/(.*)$ $1 [L,R=permanent]

# Redirect non-existing files to the tip/*.
RewriteCond %{REQUEST_URI} !^/doc/tip/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule  ^(.*)$ tip/$1
