
RewriteEngine on

RewriteBase  /api/

# Redirect non-existing files to the latest/*.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !^(latest|[0-9](\.[0-9])*)/.*$  - [chain]
RewriteRule  ^(.*)$ latest/$1 [redirect=permanent]

# Rewrite latest/* to the actual release number.
RewriteRule ^latest(.*)$ 0.6$1 [redirect]
